:root {
  --primary-color: #007bff;
  --secondary-color: #0b132b;
  --tertiary-color: #1c2541;
  --link-color: #1C274C;
  --text-color: #ffffff;
  --hover-color: #ebf2fa;
  --background-color: #617288;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

button {
  padding: 8px 12px;
  background: var(--primary-color);
  color: var(--link-color);
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.log-in-form .login-button {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Section Styles */
#home-main-section {
  height: 100vh;
  background-color: var(--secondary-color);
  padding: 40px 20px;
}


/* Header Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav {
  background-color: #0b132b;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.nav-right, .nav-left {
  display: flex;
  align-items: center;
}

.nav-right h1, .nav-left h1 {
  margin: 0 10px 0 0;
  white-space: nowrap;
}

.menu-toggle-label, .nav-right label {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
}

.nav-left form {
  margin-left: 10px;
}

.login-button {
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: red;
}

.logout-button:focus {
  outline: none;
}

/* Sidebar Styles */
.sidebar-wrapper {
  position: fixed;
  top: 65px;
  left: -250px;
  width: 250px;
  height: calc(100% - 65px);
  background: #1c2541;
  color: #fff;
  transition: left 0.3s ease;
  z-index: 999;
}

#menu-toggle:checked + .sidebar-wrapper {
  left: 0;
}

.sidebar {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.sidebar-nav {
  display: flex;
  padding: 0;
  margin: 40px 0 0 0;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

.sidebar-nav li {
  padding: 10px 0;
  list-style: none;
}

.sidebar-nav ul {
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.sidebar-nav a {
  color: #fff;
  text-decoration: none;
}

.quota {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  font-size: 0.85rem;
  padding-top: 20px;
}

/* Main Content Area Styles */
main {
  margin-top: 65px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  min-height: calc(100vh - 65px);
}

#landing-main {
  margin-left: 0%;
  margin-right: 0%;
  padding: 0%;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #0b132b;
  color: #fff;
  text-align: center;
  padding: 0;
  z-index: 1000;
}

/* Message Styles */

.messages {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-width: 600px;
}

.messages .success,
.messages .error,
.messages .info,
.messages .warning {
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.messages .success {
  background-color: #388e3c;
}

.messages .error {
  background-color: #d32f2f;
}

.messages .info {
  background-color: #1976d2;
}

.messages .warning {
  background-color: #ffa000;
}

/* Animation for removing messages */
@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.messages .fade-out {
  animation: fadeOutUp 0.5s ease-in-out forwards;
}

/* Animations */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.modal.hide {
  animation: fadeOut 0.5s;
}

.modal-content.hide {
  animation: fadeOut 0.5s;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .folder-grid, .file-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media (max-width: 900px) {
  .folder-grid, .file-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}

@media (max-width: 600px) {
  .folder-grid, .file-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  main {
    margin-left: 10px;
    margin-right: 10px;
  }

  .folder-item, .file-item {
    border-radius: 15px;
  }
}

@media (max-width: 400px) {
  .folder-grid, .file-grid {
    grid-template-columns: 1fr;
  }

  .folder-item, .file-item {
    width: 100%;
  }

  .file-body, .folder-body {
    flex-direction: row;
    align-items: center;
  }

  .folder-body a:first-child svg:first-child, .file-body a:first-child svg:first-child {
    width: 60px;
    height: 60px;
  }
}