/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

/* Styling for the sidebar */
.sidebar {
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  min-height: 100vh;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-nav li {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.sidebar-nav li:last-child {
  border-bottom: none;
}

.sidebar-nav a,
.sidebar-nav button {
  text-decoration: none;
  color: #bb86fc;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.sidebar-nav a:hover,
.sidebar-nav button:hover {
  background-color: #333;
}

/* Custom styling for the quota display */
.quota {
  margin-top: 20px;
  padding: 10px;
  background-color: #2c2c2c;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: #e0e0e0;
}

/* Styling for content area */
main {
  padding: 20px;
  background-color: #1e1e1e;
  border-left: 1px solid #333;
}

/* Utility classes */
.directory-path {
  padding: 10px;
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
}

.directory-path a {
  color: #bb86fc;
}

/* Styling for lists */
.folder-list,
.list-group-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder-link {
  text-decoration: none;
  color: #bb86fc;
}

.folder-link:hover {
  text-decoration: underline;
}

/* Styling for upload and create folder section */
.upload-section {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.form-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.form textarea {
  width: 100%;
  padding: 10px;
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #555;
}

.form-control {
  margin-right: 10px;
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #555;
}

input[type='text']::placeholder {
  color: #8b8b8b;
}

.breadcrumb-item.active {
  color: #bb86fc;
}

a {
  color: #593386;
}

.breadcrumb-item::before {
  content: '>';
  color: #bb86fc;
  margin: 0 5px;
}

.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: #bb86fc;
  content: '>';
}

/* Styling for folder grid */
.folder-grid-wrapper,
.file-grid-wrapper {
  overflow-x: auto;
  width: 100%;
  padding: 10px;
}

.folder-grid,
.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  grid-gap: 20px;
  justify-items: start;

}

.folder-item,
.file-item {
  border: 1px solid #333;
  padding: 10px;
  background-color: #2c2c2c;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 250px;
  overflow: hidden
}

.folder-item .card-body,
.file-item .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card-body:hover {
  background-color: #333;
  cursor: pointer;
}



.folder-item .card-link,
.file-item .card-link {
  margin-bottom: 10px;
  color: #bb86fc;
}

.folder-item .card-link:hover,
.file-item .card-link:hover {
  text-decoration: underline;
}

/* Button styles */
.btn-outline-info {
  color: #bb86fc;
  border-color: #bb86fc;
}

.btn-outline-info:hover {
  background-color: #bb86fc;
  color: #121212;
}

.btn-outline-warning {
  color: #ffb74d;
  border-color: #ffb74d;
}

.btn-outline-warning:hover {
  background-color: #ffb74d;
  color: #121212;
}

.btn-outline-danger {
  color: #e57373;
  border-color: #e57373;
}

.btn-outline-danger:hover {
  background-color: #e57373;
  color: #121212;
}

.btn-outline-primary {
  color: #64b5f6;
  border-color: #64b5f6;
}

.btn-outline-primary:hover {
  background-color: #64b5f6;
  color: #121212;
}

.btn-secondary {
  background-color: #616161;
  border-color: #616161;
}

.btn-primary {
  background-color: #bb86fc;
  border-color: #bb86fc;
}

/* Messages */
.messages .success {
  background-color: #388e3c;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.messages .error {
  background-color: #d32f2f;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.messages .info {
  background-color: #1976d2;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.messages .warning {
  background-color: #ffa000;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}
