{% extends "drive_generic.html" %}

{% block content %}
<h1>Your folders</h1>
{% if folder_list %}
  <div class="folder-grid-wrapper">
    <div class="folder-grid">
      {% for folder in folder_list %}
      <div class="folder-item card">
        <div class="card-body">
          <a href="{{ folder.get_absolute_url }}" class="card-link">{{ folder.folder_name }}</a>
          <a href="{% url 'download_folder' folder.hash %}" class="btn btn-sm btn-outline-info">DOWNLOAD</a>
          <form action="{% url 'rename_folder' folder.hash %}" method="post" class="form-inline d-inline">
            {% csrf_token %}
            <input type="text" name="new_name" placeholder="New folder name" class="form-control form-control-sm mr-2" id="new-folder-input" required>
            <button type="submit" class="btn btn-sm btn-outline-warning">Rename</button>
          </form>
          <form action="{% url 'delete_folder' folder.hash %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete this folder?');">DELETE</button>
          </form>

          <form action="{% url 'move_folder' folder.hash %}" method="post" class="d-inline">
            {% csrf_token %}
            <select name="destination_folder" class="form-control form-control-sm mr-2">
              <option value="">Select destination folder</option>
              {% for f in folder_list %}
              <option value="{{ f.hash }}">{{ f.folder_name }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="btn btn-sm btn-outline-primary">Move</button>
          </form>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <p>There are no folders in the library.</p>
{% endif %}

<h1>Your files</h1>
{% if file_list %}
  <div class="file-grid-wrapper">
    <div class="file-grid">
      {% for file in file_list %}
      <div class="file-item card">
        <div class="card-body">
          <a href="{{ file.get_absolute_url }}" class="card-link">{{ file.file_name}}</a>
          <a href="{% url 'view_file' file.hash %}" target="_blank" class="card-link">View</a>
          <a href="{% url 'download_file' file.hash %}" class="btn btn-sm btn-outline-info">DOWNLOAD</a>
          <form action="{% url 'rename_file' file.hash %}" method="post" class="form-inline d-inline">
            {% csrf_token %}
            <input type="text" name="new_name" placeholder="Enter new name" class="form-control form-control-sm mr-2" required>
            <button type="submit" class="btn btn-sm btn-outline-warning">Rename</button>
          </form>
          <form action="{% url 'delete_file' file.hash %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete this file?');">DELETE</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <p>There are no files in the library.</p>
{% endif %}
{% endblock %}
