{% extends "drive_generic.html" %}

{% block content %}
<div class="upload-section">
  <form action="{% url 'create_folder' %}" method="post" class="form-inline">
    {% csrf_token %}
    <input type="hidden" name="folder_id" value="{{ folder.hash }}">
    <input type="text" name="folder_name" placeholder="New Folder Name" class="form-control mb-2 mr-sm-2" required>
    <button type="submit" class="btn btn-secondary mb-2">Create Folder</button>
  </form>

  <form action="{% url 'upload_folder' %}" method="post" enctype="multipart/form-data" class="form-inline">
    {% csrf_token %}
    <input type="hidden" name="folder_id" value="{{ folder.hash }}">
    <input type="file" name="folder" class="form-control mb-2 mr-sm-2" required webkitdirectory>
    <button type="submit" class="btn btn-secondary mb-2">Upload Folder</button>
  </form>

  <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data" class="form-inline">
    {% csrf_token %}
    <input type="hidden" name="folder_id" value="{{ folder.hash }}">
    <input type="file" name="file" class="form-control mb-2 mr-sm-2" required>
    <button type="submit" class="btn btn-primary mb-2">Upload File</button>
  </form>
</div>

<h1>{{ folder.folder_name }} content:</h1>

<h2>Subfolders:</h2>
{% if subfolders %}
  <div class="folder-grid-wrapper">
    <div class="folder-grid">

      {% for folder in subfolders %}
      
      <div class="folder-item card">
        <div class="card-body">
          <a href="{{ folder.get_absolute_url }}" class="card-link">{{ folder.folder_name }}</a>
          <a href="{% url 'download_folder' folder.hash %}" class="btn btn-sm btn-outline-info">DOWNLOAD</a>
          <form action="{% url 'rename_folder' folder.hash %}" method="post" class="form-inline d-inline">
            {% csrf_token %}
            <input type="text" name="new_name" placeholder="New folder name" class="form-control form-control-sm mr-2" required>
            <button type="submit" class="btn btn-sm btn-outline-warning">Rename</button>
          </form>
          <form action="{% url 'delete_folder' folder.hash %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete this folder?');">DELETE</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <p>There are no other folders in this folder.</p>
{% endif %}

<h2>Files in this folder:</h2>
{% if files %}
  <div class="file-grid-wrapper">
    <div class="file-grid">
      {% for file in files %}
      <div class="file-item card">
        <div class="card-body">
          <a href="{{ file.get_absolute_url }}" class="card-link">{{ file.file_name }}</a>
          <a href="{% url 'view_file' file.hash %}" target="_blank" class="card-link">View</a>
          <a href="{% url 'download_file' file.hash %}" class="btn btn-sm btn-outline-info">DOWNLOAD</a>
          <form action="{% url 'rename_file' file.hash %}" method="post" class="form-inline d-inline">
            {% csrf_token %}
            <input type="text" name="new_name" placeholder="Enter new name" class="form-control form-control-sm mr-2" required>
            <button type="submit" class="btn btn-sm btn-outline-warning">Rename</button>
          </form>
          <form action="{% url 'delete_file' file.hash %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete this file?');">DELETE</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <p>There are no files in this folder.</p>
{% endif %}
{% endblock %}
