<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>EDrive</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">

        <nav class="col-sm-2 sidebar">
          
          <label for="menu-toggle" class="menu-toggle-label" style="font-size:30px; cursor:pointer;">☰</label>
          <input type="checkbox" id="menu-toggle" style="display:none;" />
          
          

          {% block sidebar %}

          <div class="sidebar" id="sidebar">
              <ul class="sidebar-nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'premium' %}">Upgrade</a></li>
                  <li>
                      <form action="{% url 'logout' %}" method="post" style="display:inline;">
                          {% csrf_token %}
                          <button type="submit" onclick="return confirm('Are you sure you want to log out?');">Log Out</button>
                      </form>
                  </li>
              </ul>

              <div class="quota">
                  {{ used_quota }} MB / {{ user_quota }} / {{ user_quota_left }} MB left
              </div>

          </div>

          {% endblock %}
        </nav>
        <main class="col-sm-10">
          
          <div class="upload-section">
            <form action="{% url 'create_folder' %}" method="post" class="d-inline">
              {% csrf_token %}
              <input type="hidden" name="folder_id" value="{{ folder.hash }}">
              <input type="text" name="folder_name" placeholder="New Folder Name" class="form-control mb-2 mr-sm-2" required>
              <button type="submit" class="btn btn-secondary mb-2">Create Folder</button>
            </form>
          
            <form action="{% url 'upload_folder' %}" method="post" enctype="multipart/form-data" class="d-inline">
              {% csrf_token %}
              <input type="hidden" name="folder_id" value="{{ folder.hash }}">
              <input type="file" name="folder" class="form-control mb-2 mr-sm-2" required webkitdirectory>
              <button type="submit" class="btn btn-secondary mb-2">Bulk Upload</button>
            </form>
          
            <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data" class="d-inline">
              {% csrf_token %}
              <input type="hidden" name="folder_id" value="{{ folder.hash }}">
              <input type="file" name="file" class="form-control mb-2 mr-sm-2" required>
              <button type="submit" class="btn btn-primary mb-2">Upload File</button>
            </form>
          </div>
          
          {% if messages %}
          <div class="messages">
              {% for message in messages %}
              <div class="{{ message.tags }}">
                  {{ message }}
              </div>
              {% endfor %}
          </div>
          {% endif %}

          {% block content %}
          

          {% endblock %}
        </main>
      </div>
    </div>
  </body>
  <footer>

    <div class="progress-bar-container">
      <progress class="progress-bar" value="{{ used_quota }}" max="{{ user_quota }}"></progress>
      <span class="quota-text"> {{ quota_used_percentage }}% full </span>
    </div>

  </footer>
</html>